<div class="row">
 <div class="col-md-6 offset-md-3">

<h1><%= @user.username %></h1>

<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <%= link_to "Post", user_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Likes", liked_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Feed", feed_path(@user.username), class: "nav-link active" %>
  </li>
  </li>
     <li class="nav-item">
<%= link_to "followers", followers_path(@user.username), class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "following", following_path(@user.username), class: "nav-link" %>
  </li>
</ul>

<div>
</div>

<h2>Feed</h2>

</div>
</div>

<% @user.feed.each do |photo| %>
<div class ="row">
<div class="col-md-6 offset-md-3">

<div class="card m-4" >
   <%= image_tag photo.image, class: "card-img-top" %>

  <div class="card-body">
    <h4 class="card-title"><%= photo.owner.username %></h4>
    <p class="card-text"><%= photo.caption %></p>
  </div>
  <ul class="list-group list-group-flush">
     <% photo.comments.each do |comment|%>
   
    <li class="list-group-item">
    
    <div class="media">
  
    <div class = "media-body">
    <img src="." class ="mr-3" alt="..">
    <h6 class="mt-0"><%= comment.author.username %></h6>
    <p>
    <%=  comment.body %>
    </p>
    </li>
     <% end%>
    
  </ul>
  <div class="card-body">
    <%= render "comments/form", comment: Comment.new(photo_id: photo.id) %>
  </div>
</div>

</div>
</div>

<%end %>
